<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="" color="tertiary">
		<ion-row class="ion-justify-content-center">
			<ion-col size="5" class="ion-align-self-center">
				<ion-title id="app-title" class="ion-text-right" size="large">Can My Dog Eat</ion-title>
			</ion-col>
			<ion-col size="5">
				<ion-searchbar (search)="userSearch($event.target.value.toLowerCase())" placeholder="This?"></ion-searchbar>
			</ion-col>
		</ion-row>
    </ion-toolbar>
  </ion-header>

  <div id="container">

	<ion-card color="light" *ngIf="validSearch">
		<ion-card-header>
			<ion-card-title id="card-title" size="large">{{foodData.title}}</ion-card-title>
		</ion-card-header>
		<ion-row class="card-safety ion-justify-content-center ion-padding">
			<ion-col size="3" class="ion-align-self-center">
			  <div class="card-text">Is it Safe?</div>
			</ion-col>
			<ion-col size="3">
			  <div id="yes" *ngIf="foodData.safety">Yes</div>
			  <div id="no" *ngIf="!foodData.safety">No</div>
			</ion-col>
		</ion-row>
		<ion-card-content class="card-information ion-padding">
			{{foodData.information}}
		</ion-card-content>
	  </ion-card>

  <ion-card color="light" *ngIf="invalidSearch">
	<ion-card-header>
		<ion-card-title id="card-title" size="large">Sorry, we could not find {{foodNotFound}}</ion-card-title>
	</ion-card-header>
	<ion-card-content class="card-information ion-padding">
		Please search for another food item.
	</ion-card-content>
  </ion-card>
</div>
</ion-content>
